.divCard{
    border-radius: 5px;
    border-color: black;
    box-shadow: inset 0 0 10px;
    color: rgb(39, 38, 41);    
    background-color: #f1e3e304;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    padding-bottom: 30px;
}

.imgFlag{
    width: 250px;
    height: 150px;
    border-radius: 5px;
}


.divCard:hover{
    background-color: #f1e3e365;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgb(39, 38, 41);
}